/*  Active Game Page Styles */
.active-game-container {
    background: radial-gradient(circle at 50% 50%, #1a1a2e, #0f0f1e); 
    /* color: #00eaff; */
    /* background: url('../../assets/Game1BG.jpg'); */
    text-align: center;
    padding: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 234, 255, 0.5);
    height: 100vh;
  }
  
  /* Game Title */
  .active-game-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff;
    animation: flicker 1.5s infinite alternate;
    font-family: "Bungee Hairline", "DM Sans", sans-serif;;
  }
  

.active-game-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px; 
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}


.active-game-title {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  top: 10px;
  font-size: 3rem; 
  color: #00ff00;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap; */
}

  
  /* Flickering Animation for game title*/
  @keyframes flicker {
    0% { opacity: 0.8; text-shadow: 0 0 5px #00eaff, 0 0 10px #00eaff; }
    100% { opacity: 1; text-shadow: 0 0 15px #00eaff, 0 0 25px #00eaff; }
  }
  
  /* Glowing Hover Effect */
  .glow:hover {
    box-shadow: 0 0 20px rgba(0, 234, 255, 0.8);
  }