@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #00520b; 
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.error-code {
    font-size: 120px;
    color: #19006d;
    margin-bottom: 10px;
    text-shadow: 4px 4px 0px #000;
}

.error-message {
    font-size: 14px;
    color: #19006d;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.error-button {
    padding: 12px 24px;
    font-size: 12px;
    color: #19006d;
    border: 2px solid #19006d;
    text-decoration: none;
    width: 220px;
    text-align: center;
    background: transparent;
    position: relative;
    font-weight: bold;
    box-shadow: 4px 4px 0px #000;
    transition: 0.3s ease-in-out;
}

.error-button:hover {
    background: #19006d;
    color: #e27db0;
    box-shadow: 6px 6px 0px #000;
}

.error-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; /*adjust size if i need to*/
}

.plus-icon {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 24px;
    color: #19006d;
    border: 2px solid #19006d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 0px #000;
    cursor: pointer;
}
