.game-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #003300; /* Dark green background */
  background-image: url("../assets/game-dashboard-bg.png");
  background-size: cover; 

}

.game-dashboard h1 {
  color: #00ff00;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive; 
}

.game-list {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 80%;
  max-width: 900px;
}

.game-card {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 0px #222;
  transition: transform 0.2s ease-in-out;
  justify-content: space-between;
}

.game-card:hover {
  transform: scale(1.02);
}

.game-card img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 8px;
}

.game-card-content {
  display: flex;
  flex-direction: column;
}

.game-title {
  font-size: 1.5rem;
  color: #00ff00;
  font-family: "Press Start 2P", cursive;
  margin-bottom: 5px;
}

.game-description {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 10px;
}

.game-link {
  color: blue;
  font-size: 0.9rem;
  text-decoration: underline;
  font-weight: bold;
}

.game-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

.play-button {
  border: none;
  padding: 12px 20px;
  font-size: 0.8rem;
  font-family: "Press Start 2P", cursive;
  font-size: 0.8rem;
  border: 2px solid #00ff00;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
}
.play-button:hover {
  background-color: #ff002b;
  color: black;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}