/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #032b0d; /* Dark green */
    padding: 15px 30px;
    color: #fff;
    font-family: 'Press Start 2P', cursive; /* Retro font */
  }
  
  .nav-logo {
    text-decoration: none;
    color: #00ff00; /* Neon green */
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-button {
    background-color: #00ff00;
    color: #032b0d;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #008f00;
  }
  
  .logout-btn {
    background-color: red;
    color: white;
  }
  
  .logout-btn:hover {
    background-color: rgb(244, 0, 187);
  }
  