 /* Score Tracker */
 .point-tracker {
    font-size: 1.5rem;
    font-weight: bold;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14;
    padding: 10px;
    border-radius: 5px;
    border:rgba(0, 0, 0, 0.8) solid;
    background-color: #232323f7;
    position: absolute;
    right: 20px; /* Moves points to the right */
    top: 60px;
  }